body {
    background-color: #22333B;
  }

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    text-align: center;
    background-color: #22333B;
    /* overflow-y: auto; */
    padding: 5px;
}

.input-container {
    margin: 3px;
    padding: 3px;
    border: 1px solid #22333B;
    border-radius: 5px;
    background-color: #22333B;
    width: 32%;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.input-container:hover {
    transform: scale(1.05);
}

.input-box {
    padding: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    background-color: white;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.input-box::placeholder {
    color: white;
    opacity: 0.7;
}

.top-input {
    background-color: #0A3D91;
}

.bottom-input {
    background-color: #B22222;
}

.team-data-container {
    text-align: center;
    background-color: #22333B;
    border-radius: 5px;
    padding: 3px;
    margin-top: 0;
    border: 1px solid #4d5255;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the content horizontally */
}

.section-header {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 17px;
    color: #E0E0E0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 2px 5px;  /* Adjusted padding */
    background-color: #1BB8CC;
    font-size: 15px;  /* Adjusted font size */
    color: #22333B;
    border-radius: 3px;
    width: 250px;  /* Fixed width to center items */
}

#heatmapContainer {
    margin-top: 20px;
    position: relative;
    width: 1000px;
    height: 500px;
    transition: transform 0.2s;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); Added shadow */
}

.dropdown-container {
    position: fixed;
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
    background-color: #22333B;
    border: 1px solid #22333B;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.dropdown-container select {
    padding: 5px;
    font-size: 16px;
    background-color: #22333B;
    color: #E0E0E0;
    border-radius: 5px;
}

.dropdown-container:hover {
    transform: translateX(-50%) scale(1.05); /* Ensure translateX is applied with scale */
}

.dropdown-container-teams {
    position: fixed;
    bottom: 10px;
    right: 1%;
    transform: translateX(-50%);
    background-color: #22333B;
    border: 1px solid #22333B;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.dropdown-container-teams select {
    padding: 5px;
    font-size: 16px;
    background-color: #22333B;
    color: #E0E0E0;
    border-radius: 5px;
}

.dropdown-container-teams:hover {
    transform: translateX(-50%) scale(1.05); /* Ensure translateX is applied with scale */
}

.spinner-container {
    position: fixed;
    bottom: 10px; /* Position at the bottom */
    left: 10px; /* Position at the left */
    z-index: 1000;
}

.spinner {
    border: 8px solid #f3f3f3; /* Smaller border */
    border-top: 8px solid #3498db; /* Smaller border */
    border-radius: 50%;
    width: 60px; /* Smaller width */
    height: 60px; /* Smaller height */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.single-team-container, .team-comparison-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.multiple-teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.chart-container {
    width: 80%;
    margin-top: 20px;
    background-color: #22333B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    z-index: 11;
}

.input-boxes-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to ensure responsiveness */
    justify-content: center; /* Center align the content */
    width: 100%;
    gap: 10px; /* Add some gap between the boxes */
}

.field-selection-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Add some margin for spacing */
    z-index: 10; /* Ensure it's above other elements */
    position: relative; /* Ensure it is positioned correctly */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.field-selection-container select {
    padding: 5px;
    font-size: 16px;
    background-color: #22333B;
    color: #E0E0E0;
    border-radius: 5px;
    border: 1px solid #E0E0E0; /* Add a border for better visibility */
    z-index: 11; /* Ensure the dropdown itself is above other elements */
}

.field-selection-container:hover {
    transform: scale(1.05); /* Ensure translateX is applied with scale */
}

.pie-charts-container {
    color: #E0E0E0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    z-index: 11
}

/* .pie-chart:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
    
} */

.formula-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #22333B;
    padding: 5px;
    border: 1px solid #4d5255;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .formula-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formula-input label {
    color: #E0E0E0;
    margin-bottom: 5px;
  }

  .formula-input select,
  .formula-input input {
    padding: 5px;
    font-size: 16px;
    background-color: #22333B;
    color: #E0E0E0;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }

  .formula-input select:hover,
  .formula-input input:hover {
    transform: scale(1.05);
  }

  .calculate-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1BB8CC;
    color: #22333B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .calculate-button:hover {
    transform: scale(1.05);
  }

 