.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #012265;
  overflow: auto; /* Added to allow scrolling if content overflows */
}

.input-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #d4af37;
  width: 300px;
  text-align: center;
}

.input-box {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 280px;
  text-align: center;
  background-color: white;
  color: white;
}

.input-box::placeholder {
  color: white;
  opacity: 0.7;
}

.top-input {
  background-color: #0A3D91;
}

.bottom-input {
  background-color: #B22222;
}

.team-data-container {
  text-align: center;
  background-color: #d4af37;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.team-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.section-header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 5px;
}

.grid-item {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #f2f2f2;
}
